# Database
DATABASE_URL="postgresql://username:password@host:port/database?schema=public"
DIRECT_URL="postgresql://username:password@host:port/database?schema=public"

# Para desenvolvimento local com SQLite (opcional)
# DATABASE_URL="file:./dev.db"
